.HomeDiv .cardImage {
    maxHeight: 290px;
    maxWidth: 290px;
    margin: auto
}

.HomeDiv > section > div > div.ui.cards {
    margin-top: 10px;
    margin-left: 50px;
}

.HomeDiv .fullWidth {
    width: 100%;
}

.HomeDiv > section > hr{
    margin-top: 70px;
}

.HomeDiv .grettings h1 {
    /*font-size: 50px;*/
    /*font-weight: 600;*/
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: #5e5e5e;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    line-height: 48px;
    font-weight: bold;
    margin: 0;
}

.HomeDiv .grettings{

    display: flex;
    flex-direction: row;
    margin: 46px auto;
    justify-content: center;
}

.HomeDiv .grettings .text{
    margin-top: 146px;
    margin-left: 40px;
}



.HomeDiv .grettings .text h1{
    display: block;
    color:#000000;
    margin-right: 20px;
    font-size: 56px;
    text-align: left;
    margin-bottom: 12px;
}
h2 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 25%;
    width: 100%;
}


.HomeDiv > section > div  > span {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}

.HomeDiv .grettings .text p b {
    color: #000000;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
}

.HomeDiv .grettings .pictureAvatar {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.HomeDiv > section:nth-child(2) > div > div > h2 > div{
    font-size: 36px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .HomeDiv > section > div > div > div.ui.cards {
        width: 200px;
        display: -webkit-box;
        margin-left: 60px;
        margin-top: 10px;
    }

    .HomeDiv > section > div > div > div.ui.cards > div > a > img {
        max-height: 130px;
        max-width: 100px;
    }
}